@font-face {
  font-family: 'franxurter';
  src: local('franxurter'), url(./fonts/franxurter.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'franxurter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
