/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /*Enable scroll if needed */
  background-color: rgba(100, 100, 100, 0.6); /* Black w/ opacity */
  display: block;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'franxurter';
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(126, 126, 126, 0.6); /* Black w/ opacity */
  width: 100%; /* Could be more or less, depending on screen size */
}

.modal-header {
  display: block;
}

#wordQuestion {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 5px;
}

/* The Close Button */
.close {
  color: white;
  font-size: 25px;
  font-weight: 200;
  text-shadow: none;
  opacity: 1;
  line-height: normal;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  font-size: 100px;
  padding-bottom: 10px;
  text-align: center;
  color: white
}

.modal-footer { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-option { 
  flex: 0 48%;
  height: 50px;
  margin-bottom: 2%;
  font-size: 20px;
}

.options-container {
  display: inline-block;
  width: 50%
}

.option {
  background-color: rgb(190, 236, 217);
  border-radius: 30px;
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 90%;
  font-size: 30px;
}