/* The Modal (background) */
div#addition.modal {
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%; /* Full width */
  height: auto; /* Full height */
  overflow: hidden; /*Enable scroll if needed */
  background-color: rgba(100, 100, 100, 0.6); /* Black w/ opacity */
  display: block;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'franxurter';
}

/* Modal Content/Box */
#addition .modal-content {
  background-color: rgba(126, 126, 126, 0.6); /* Black w/ opacity */
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

#addition .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#addition div.fire-visual-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

#addition div.fire-group-1, #addition div.fire-group-2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
}

#addition img.fire-guide-1, #addition img.fire-guide-2 {
  width: 15%;
  margin: 1%;
}

#addition .modal-header {
  display: block;
}

#wordQuestion {
  text-align: center;
  color: white;
  font-size: 7vh;
  margin-bottom: 5px;
}

div#numQuestionNumbers {
  margin-left: 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

#numQuestionNumbers h1 {
  color: white;
  font-size: 12vh;
  margin-bottom: 0;
}

/* The Close Button */
#addition .close {
  color: white;
  font-size: 4vh;
  font-weight: 200;
  opacity: 1;
}

#addition .close:hover,
#addition .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#addition .modal-body {
  font-size: 100px;
  padding-bottom: 10px;
  text-align: center;
  color: white
}

#addition .modal-footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#addition .answer-option { 
  flex: 0 48%;
  height: 50px;
  margin-bottom: 2%;
  font-size: 20px;
}

#addition .options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70%;
}

#addition .option {
  background-color: rgb(190, 236, 217);
  border-radius: 30px;
  color: white;
  cursor: pointer;
  padding: 1.25%;
  text-align: center;
  width: 22.5%;
  font-size: 5vh;
}

/* hero hint section */

button.hint-btn {
  background: url('../assets/icons/help-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: -10%;
  width: 5vh;
  height: 5vh;
  border: none;
}

p.hint-details {
  font-size: 3vh;
  color: rgb(227, 249, 255);
}

.problem-container img#hero-hint {
  z-index: 5;
  position: fixed;
  transform: rotate(325deg);
  right: -8%;
  top: 30%;
  width: 15%;
}