#habiReward.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.6);
    display: block;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
    font-family: 'franxurter';
}

.habi-coins-modal-content {
    background-color: rgba(126, 126, 126, 0.6);
    width: 100%;
    height: 100%;
}

.habi-coins-modal-header {
    display: block;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
}

p { 
    margin-bottom: 0;
}

.habi-coins-modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 200px;
    padding: 30px;
    text-align: center;
    color: white;
}

h1 { 
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 100px;
    text-align: center;
}

.habicoin-icon { 
    width: 10%;
}

.habi-coins-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
}

.coins { 
    font-size: 100px;
    font-weight: 500;
    width: 100%;
    color: white;
    text-align: center;
}

.newProblem { 
    background-color: #ea4257ff;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 25px;
}