div.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background/home_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'franxurter';
}

/* header section */
  
#game-home div.header {
    position: fixed;
    top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: none;
    box-shadow: none;
}
  
#game-home .header img.logo {
    padding: 3em;
    width: 40%;
}

#game-home .header button {
    position: fixed;
    top: 5%;
    right: 5%;
}

/* habi-coins section */

div.habicoins-container {
    position: absolute;
    right: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div.habicoins-counter {
    display: flex;
    flex-direction: column;
}

.habicoins-container img {
    width: 30%;
}

.habicoins-counter p#habicoin-value {
    font-size: 4vh;
    margin-bottom: 0;
    color: #F19B37;
}

.habicoins-counter p#habicoin-text {
    font-size: 3vh;
    margin-top: -15%;
    margin-bottom: 0;
    color: white;
}

/* carousel section */

div.animal {
   width: 75% !important;
}

.animal-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.animal-description h1 {
    font-size: 6vh;
    color: #8DC63F;
    -webkit-text-stroke: 2px white;
}

.animal-description h2 {
    margin-top: 3%;
    font-size: 3vh;
    color: white;
}

.carousel {
    width: 60vw;
    margin-left: 5%;
    margin-top: 5%;
}

.carousel div.character-container {
    width: 54%;
    height: 22vh;
    margin: auto;
}

.character-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.carousel div.character-container-locked {
    width: 80%;
    height: 22vh;
    margin: auto;
}

.character-container-locked img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-filter: brightness(20%);
    filter:brightness(20%);
}

/* progress section */
div.progress-container, div.progress-container-locked {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

div.progress-container {
    margin-top: -4.7%;
}

div.progress-container-locked {
    margin-top: 3%;
}

.progress-container-locked img {
    position: absolute;
    width: 2.25%;
    margin-left: auto;
}

.progress-container img {
    margin-left: 0;
    margin-right: -10%;
    width: 30%;
}

.progress {
    width: 100%;
    height: 4vh;
    border: 0.2em solid white;
    border-radius: 1.5em;
}

.progress-bar {
    background-color: #64CBE7;
}

p.progress-bar {
    color:black;
}

/* footer section */
#game-home div.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 15vh;
}

#game-home .footer button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 3vh;
}

#game-home .footer button#music {
    margin-right: 1%;
}

#game-home .footer button#settings img, #game-home .footer button#music img {
    float: left;
    width: 55%;
    height: 58%;
}

#game-home .footer button#hero-shop img {
    position: fixed;
    bottom: 0;
    width: 20%;
}

img.footer-hero {
    position: fixed;
    left: 32.5vw;
    bottom: -20vh;
    width: 10%;
}