/* header */
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

header#teacher.header {
    margin-top: -10vh;
    z-index: 20;
    position: fixed;
    background-image: linear-gradient(white, rgb(253, 253, 253));
    box-shadow: 2px 2px 10px #888888a6;
    width: 100vw;
    height: 10%;
    color: white;
}

#teacher div.header-container {
    display: flex; 
    align-items: center;
    margin-top: 1%;
    justify-content: space-between;
    width: 100vw;
}
  
#teacher.header img.logo {
    width: 15%;
}
  
#teacher .header-container .btn-outline-success {
    margin-right: 4%;
    color: #8dc63f;
    border-color: #8dc63f;
}
  
#teacher .header-container .btn-outline-success:hover {
    color: white;
    background-color: #8dc63f;
    border-color: #8dc63f;
}

#teacher div.account-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #8dc63f;
    font-weight: bold;
    font-size: 1.75vh;
}

#teacher .account-description img {
    width: 6.5%;
    margin-right: 1%;
}

#teacher .account-description p {
    margin-bottom: 0;
}
  
/* main section */
  
div.main-container {
    display: flex;
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
}
  
/* menu section */
  
div.menu-view {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 20vw;
    background-image: linear-gradient(white, rgb(245, 245, 245));
    box-shadow: 2px 2px 5px #cfcfcf44;
}
  
div.menu-list {  
    margin-top: 15%;
}
  
.menu-list a, .menu-list a:visited {
    margin-top: 2.5%;
    padding-left: 24%;
    font-size: 1vw;
    font-weight: bold;
    color: #857EBB;
}
  
.menu-list a:hover, .menu-list a:focus {
    text-decoration: none;
    color: #8CC63F;
}
  
.menu-list a.active {
    color: #8CC63F;
}
  
div.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 16vw;
    margin-bottom: 10%;
}
  
div.menu-item .active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 16vw;
    height: 7vh;
    background: linear-gradient(to right, rgba(201, 229, 202, 0.40) 0%, rgba(201, 229, 202, 0.40) 94%, #8CC63F 94%, #8CC63F 100%);
    border-radius: .5em;
}
  
.menu-view img {
    width: 35%;
}
  
/* form section */
  
.form-control {
    border: 1px solid #8CC63F;
}