/* The Modal (background) */
.wrong-modal {
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%; /* Full width */
  height: 45%; /* Full height */
  overflow: hidden; /*Enable scroll if needed */
  background-color: rgba(100, 100, 100, 0.6); /* Black w/ opacity */
  display: block;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'franxurter';
}

/* Modal Content/Box */
.wrong-modal-content {
  background-color: rgba(126, 126, 126, 0.6); /* Black w/ opacity */
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

.wrong-modal-header {
    padding-top: 25px;
    text-align: center;
    font-size: 100px;
    color: white;
}

.wrong-modal-footer {
    text-align: center;
    font-size: 100px;
    color: white;
}

.newProblem {
    background-color: #ea4257ff;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
}